.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homepage-subtitle {
  font-size: 1.5rem;
  margin-top: 1.3rem;
  color: #9ba4b5;
}

.homepage-title {
  display: flex;
  align-items: center;
  font-size: 3rem;
}

.homepage-buttons {
  display: flex;
  gap: 2rem;
}

.homepage-button {
  margin-top: 0.8rem;
  margin-bottom: 2rem;
  width: 9rem;
  height: 3rem;
  font-size: 1.3rem;
  border: none;
  border-radius: 0.4rem;
  background-color: #8570f2;
  color: white;
  cursor: pointer;
}

.homepage-button:hover {
  background-color: #9ba4b5;
}

.m4-logo {
  width: 10rem;
  border: #8570f2;
  margin-left: 1rem;
  margin-right: 1rem;
}

/* .bmw-image {
  width: 50%;
  height: 50%;
  margin-top: 2rem;
} */

@media screen and (max-width: 768px) {
  .bmw-image {
    width: 80%;
    height: 80%;
  }
}
