.navbar {
  width: 100vw;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.15);
  background-color: #d8e3fb;
  color: white;
  position: sticky;
  top: 0;
  z-index: 999;
}

.logo-icon {
  width: 3.5rem;
  height: 3.5rem;
  margin-left: 3rem;
  z-index: 20;
}

.navbar-links {
  width: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.navbar-links a {
  text-decoration: none;
  color: #4f535b;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
}

.navbar-links a:hover {
  color: #ffffff;
  background-color: #8570f2;
}

.seller-button {
  background-color: #8570f2;
  color: white;
  border: none;
  border-radius: 0.4rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  margin-right: 3rem;
  z-index: 20;
}

.seller-button:hover {
  background-color: #9ba4b5;
}

.seller-dropdown {
  display: flex;
  align-items: center;
}

.selected-option {
  margin-right: 1rem;
}

.dropdown-content {
  position: absolute;
  top: 100%;
  z-index: 1;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 0.4rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.dropdown-content button {
  display: block;
  width: 100%;
  background-color: transparent;
  color: #4f535b;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0;
  text-align: left;
}

.dropdown-content button:hover {
  background-color: #f8f8f8;
}

.selected-option {
  font-weight: bold;
  display: flex;
  align-items: center;
  color: #4f535b;
}

.dropdown-button {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 768px) {
  .logo-icon {
    margin-left: 1rem;
  }

  .navbar-links {
    /* Make them smaller */
    position: relative;
  }

  .seller-button {
    margin-right: 1rem;
  }
}
